{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="ptb-95">
    <div class="container">
      <!-- PRODUCT-LISTING MAIN CLASS START -->
      <div class="product-listing">
        <!-- TAB SECTION HEADING START -->
        <div class="row">
          <div class="col-xs-12">
            <div class="heading-part align-center mb-30">
              <div id="tabs" class="category-bar ">
                <ul class="tab-stap">
                  <li><a href="{% url "shop:product_list" %}" onclick="return theFunction();" class="tab-step1 selected" title="step1">All</a></li>
                  <li><a href="{user.get}" class="tab-step2" title="step2">Featured</a></li>
                  <li><a href="{ 'shop/all/' }" class="tab-step2" title="step2">Most Viewed</a></li>
                  <li><a href="{% url 'shop:product_latest' %}" class="tab-step2" title="step2">Latest</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- TAB SECTION HEADING ENDS -->

        <div class="row mlr_-20">
            <div id="items">
              <div class="tab_content pro_cat">
                    <!-- ALL TAB CONTENT START -->
                    <div id="data-step1" class="items-step1 product-slider-main position-r selected" data-temp="tabdata">                      
                    {% for product in products %}
                      <div class="col-lg-3 col-sm-4 col-xs-6 plr-20 mb-30">
                        <div class="product-item">
                          <div class="sale-label"><span>Sale</span></div>
                          <div class="product-image"> 
                            <a href="{{product.get_absolute_url }}"></a> 
                            <img src="{% if product.image %}{{product.image.url}}{% else %}{% static "images\no_images.png" %}{% endif %}" alt="Empire"> 
                          </div>
                          <div class="product-item-details align-center">
                            <div class="rating-summary-block">
                              <div title="53%" class="rating-result"> <span style="width:53%"></span> </div>
                            </div>
                            <div class="product-item-name"> <a href="product-page.html">{{product.name}}</a> </div>
                            <div class="price-box"> <span class="price">${{ product.price }}</span> <del class="price old-price">$100.00</del> </div>
                          </div>
                          <div class="product-detail-inner align-center">
                            <div class="detail-inner-left">
                              <ul>
                                <li class="pro-cart-icon">
                                  <form id='cardaddform' action="{% url "cart:cart_add" product.id %}" method="post">
                                      {{ cart_product_form }}
                                      {% csrf_token %}
                                      <a href="javascript:{}" onclick="document.getElementById('cardaddform').submit();"></a>
                                      </form>
                                    </li>
                                <li class="pro-wishlist-icon"><a href="#"></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>

                      
                      {% endfor %}
                    </div>
              </div>
            </div>
        </div>
        {% include "pagination.html" with page=products %}
{% endblock %}