{% extends "base.html" %}
{% load static %}
{% load product_group_tags %}
{% block content %}

<!-- CONTAIN START -->
<section class="ptb-95">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 mb-sm-30 sidebar-col">
        
<div class="sidebar-block">
  {% get_filter_features %}
  <div class="sidebar-box sidebar-item"> <span class="opener plus"></span>
              <div class="sidebar-title">
                <h3>Best Seller</h3> <span></span>
              </div>
              <div class="sidebar-contant">
                <ul>
                  <li>
                    <div class="pro-media"> <a><img alt="T-shirt" src="images/1.png"></a> </div>
                    <div class="pro-detail-info"> <a>Black Print</a>
                      <div class="rating-summary-block">
                        <div class="rating-result" title="53%"> <span style="width:53%"></span> </div>
                      </div>
                      <div class="price-box"> <span class="price">$80.00</span> </div>
                      <div class="cart-link">
                        <form>
                          <button title="Add to Cart">Add To Cart</button>
                        </form>
                      </div>
                    </div>
                  </li>
                  
                 
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8 content-col">
          <div class="shorting mb-30">
            <div class="row">
              <div class="col-md-6">
                <div class="view">
                  <div id='listOption1' class="list-types grid"> <a href="javascript:{}" onclick="changeListingStyle('listOption1')">
                    <div class="grid-icon list-types-icon"></div>
                    </a> </div>
                  <div id='listOption2' class="list-types list active "><a href="javascript:{}" onclick="changeListingStyle('listOption2')">
                    <div class="list-icon list-types-icon"></div>
                    </a> </div>
                </div>
                <div class="short-by float-right-sm"> <span>Sort By</span>
                  <div class="select-item">
                    <select>
                      <option value="1" selected="selected">Name (A to Z)</option>
                      <option value="2">Name(Z - A)</option>
                      <option value="3">price(low&gt;high)</option>
                      <option value="4">price(high &gt; low)</option>
                      <option value="5">rating(highest)</option>
                      <option value="6">rating(lowest)</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="show-item right-side float-left-sm"> <span>Show</span>
                  <div class="select-item">
                    <select id='selectPageNumber' onchange="changePerPage()">
                      <option value="48">48</option>
                      <option value="24">24</option>
                      <option value="16">16</option>
                      <option value="12">12</option>
                      <option selected="selected" value="8">8</option>
                    </select>
                  </div>
                  <span>Per Page</span>
                  <div class="compare float-right-sm"> <a href="#" class="btn btn-color">Compare (0)</a> </div>
                </div>
              </div>
            </div>
          </div>
          {% imply_filter_to_products products  %}

        </div>
      </div>
    </div>
  </section>
  <!-- CONTAINER END --> 
  {% include "pagination.html" with page=products %}
  {% endblock %}