
<div class="sidebar-block">
    <div class="sidebar-box listing-box mb-40"> <span class="opener plus"></span>
      <div class="sidebar-title">
        {% for category in features.category %}
        <h3>{category.name}</h3> <span></span>
        {% endfor %}
      </div>
      <div class="sidebar-contant">
        <ul>
          <li><a>Clothing <span>(21)</span></a></li>
          <li><a>Shoes <span>(05)</span></a></li>
          <li><a>Jewellery <span>(10)</span></a></li>
          <li><a>Furniture <span>(12)</span></a></li>
          <li><a>Bags <span>(18)</span></a></li>
          <li><a>Accessories <span>(70)</span></a></li>
        </ul>
      </div>
    </div>
    <div class="sidebar-box mb-40"> <span class="opener plus"></span>
      <div class="sidebar-title">
        <h3>Shop by</h3> <span></span>
      </div>
      <div class="sidebar-contant">
        <div class="price-range mb-30">
          <div class="inner-title">Price range</div>
          <input class="price-txt" type="text" id="amount">
          <div id="slider-range"></div>
        </div>
        <div class="size mb-20">
          <div class="inner-title">Size</div>
          <ul >
            <li><a href="#">S (10)</a></li>
            <li><a href="#">M (05)</a></li>
            <li><a href="#">L (10)</a></li>
            <li><a href="#">XL (08)</a></li>
            <li><a href="#">XXL (05)</a></li>
          </ul>
        </div>
        <div class="mb-20">
          <div class="inner-title">Color</div>
          <ul>
            <li><a>Black <span>(0)</span></a></li>
            <li><a>Blue <span>(05)</span></a></li>
            <li><a>Brown <span>(10)</span></a></li>
          </ul>
        </div>
        <div class="mb-20">
          <div class="inner-title">Manufacture</div>
          <ul>
            <li><a>Augue congue <span>(0)</span></a></li>
            <li><a>Eu magna <span>(05)</span></a></li>
            <li><a>Ipsum sit <span>(10)</span></a></li>
          </ul>
        </div>
        <a href="#" class="btn btn-color">Refine</a> </div>
    </div>
    <div class="sidebar-box sidebar-item"> <span class="opener plus"></span>