{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="checkout-section ptb-95">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-8 col-lg-offset-3 col-sm-offset-2">
              <form action='.' method="post" class="main-form full">
                                    
                    {% csrf_token %}
                <div class="row">
                  <div class="col-xs-12 mb-20">
                    <div class="heading-part heading-bg">
                      <h2 class="heading align-center">Customer Login</h2>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    {{form.as_p}}
                  </div>
                  
          
                  <div class="col-xs-12">
                    <div class="check-box left-side"> 
                      <span>
                        <input type="checkbox" name="remember_me" id="remember_me" class="checkbox">
                        <label for="remember_me">Remember Me</label>
                      </span>
                    </div>
                    <button name="submit" type="submit" class="btn-color right-side">Log In</button>
                  </div>
                  <div class="col-xs-12"> <a title="Forgot Password" class="forgot-password mtb-20" href="#">Forgot your password?</a>
                    <hr>
                  </div>
                  <div class="col-xs-12">
                      
                          <div class="col-sm-4">
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary"><i class="fa fa-facebook"></i><a href="{% url "social:begin" "facebook" %}">Sign in with Facebook</a></button>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="btn-group">
                              <button type="button" class="btn btn-danger"><i class="fa fa-google-plus"></i>Sign in with Google</button>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="btn-group">
                              <button type="button" class="btn btn-info"><i class="fa fa-linkedin"></i>Sign in with Linkedin</button>
                            </div>
                          
                        </div>	
                    </div>
                  <div class="col-xs-12">
                    <div class="new-account align-center mt-20"> <span>New to Empire?</span> <a class="link" title="Register with Empire" href="{% url "register" %}">Create New Account</a> </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}