{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- CONTAIN START ptb-95-->
	  
<section class="ptb-95">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
          
            <div class="">
              <h3>What's the secret of the Empire ?</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. etiam nec suscipit arcu, feugiat fermentum ex cras nec scelerisque magna, eu dignissim ante. mauris ullamcorper neque sed dapibus scelerisque, vestibulum et auctor odio. Fusce dapibus tortor vel quam venenatis rutrum fusce sagittis mauris nisi, eu vulputate nisl lacinia at. Suspendisse potenti, nulla nisi mi, hendrerit vitae faucibus id, ultricies sit amet nisi.</p>
            </div>
            <div class="about-detail mt-40">
              <div class="heading-part align-center mb-30">
                <h2 class="main_title "><span>Who We Are</span></h2>
              </div>
              <div class="heading-part">
                  <h2 class="heading">Nullam vel sollicitudin diam proin congue lacinia tortor vel vulputate morbi et mauris nec risus id at odio.</h2>
                  <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos nunc cursus purus sed elit aliquet aliquet luctus pulvinar tortor, cras malesuada mi gravida, vehicula neque vitae, congue erat, aenean ullamcorper nibh nec sem interdum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. etiam nec suscipit arcu, feugiat fermentum ex cras nec scelerisque magna, eu dignissim ante. mauris ullamcorper neque sed dapibus scelerisque, vestibulum et auctor odio. Fusce dapibus tortor vel quam venenatis rutrum fusce sagittis mauris nisi, eu vulputate nisl lacinia at. Suspendisse potenti, nulla nisi mi, hendrerit vitae faucibus id, ultricies sit amet nisi.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Testimonial Block Start -->
  <section class="client-bg ptb-95">
    <div class="top-shadow">
      <img alt="Empire" src="images/top-shadow.png">
    </div>
      <div class="container">
        <div class="row ">
          <div class="col-xs-12 ">
            <div class="heading-part align-center mb-30">
              <h2 class="main_title"><span>testimonials</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="client-main client-bg">
              <div class="client-inner align-center">
                <div id="client" class="owl-carousel">
                  <div class="item client-detail">
                    <div class="client-img left-side mt-40">
                        <img alt="Empire" src="images/testimonial_img1.jpg"> 
                      <h4 class="sub-title client-title">- Joseph deboungawer -</h4>
                      <div class="designation">Maneger of Business  Development, 2base</div>
                    </div>
                    <div class="quote right-side">
                      <div class="quote1-img">
                        <img src="images/quote1.png" alt="Empire">
                      </div>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                      </p>
                      <div class="quote2-img">
                        <img src="images/quote2.png" alt="Empire">
                      </div>
                    </div>
                  </div>
                  <div class="item client-detail">
                    <div class="client-img left-side mt-40">
                        <img alt="Empire" src="images/testimonial_img2.jpg"> 
                      <h4 class="sub-title client-title">- Joseph deboungawer - </h4>
                      <div class="designation">Maneger of Business  Development, 2base</div>
                    </div>
                    <div class="quote-border right-side">
                      <div class="quote">
                        <div class="quote1-img">
                          <img src="images/quote1.png" alt="Empire">
                        </div>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                        </p>
                        <div class="quote2-img">
                          <img src="images/quote2.png" alt="Empire">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item client-detail">
                    <div class="client-img left-side mt-40">
                        <img alt="Empire" src="images/testimonial_img3.jpg"> 
                      <h4 class="sub-title client-title">- Joseph deboungawer - </h4>
                      <div class="designation">Maneger of Business  Development, 2base</div>
                    </div>
                    <div class="quote right-side">
                      <div class="quote1-img">
                        <img src="images/quote1.png" alt="Empire">
                      </div>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                      </p>
                      <div class="quote2-img">
                        <img src="images/quote2.png" alt="Empire">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="bottom-shadow">
      <img alt="Empire" src="images/bottom-shadow.png">
    </div>
  </section>
  <!--Testimonial Block End -->

  <!--Our Team Block Start -->
  <section class="ptb-95">
    <div class="container">
      <div class="team-part team-opt-1">
        <div class="heading-part align-center mb-30">
          <h2 class="main_title"><span>Our Team</span></h2>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="team-item listing-effect col-sm-margin-b"> <img alt="Empire" src="images/tm1.jpg">
              <div class="team-item-detail">
                <h3 class="sub-title listing-effect-title">Adamaris Corliss</h3>
                <div class="listing-meta">Co-Founder</div>
                <div class="social_icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="team-item listing-effect col-sm-margin-b"> <img alt="Empire" src="images/tm2.jpg">
              <div class="team-item-detail">
                <h3 class="sub-title listing-effect-title">Lusi Rose</h3>
                <div class="listing-meta">Project Manager</div>
                <div class="social_icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="team-item listing-effect col-sm-margin-b"> <img alt="Empire" src="images/tm3.jpg">
              <div class="team-item-detail">
                <h3 class="sub-title listing-effect-title">Adamaris Corliss</h3>
                <div class="listing-meta">Co-Founder</div>
                <div class="social_icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="team-item listing-effect col-sm-margin-b"> <img alt="Empire" src="images/tm4.jpg">
              <div class="team-item-detail">
                <h3 class="sub-title listing-effect-title">Adamaris Corliss</h3>
                <div class="listing-meta">Co-Founder</div>
                <div class="social_icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Our Team Block End -->
  <!-- CONTAINER END --> 
  
  <div class="scroll-top">
    <div id="scrollup"></div>
  </div>
  <!-- FOOTER END --> 
</div>
<!-- MAIN END -->
{% endblock %}