{% load staticfiles %}

<!-- CSS -->
   
      <!--<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/fotorama.css" %}">
      -->
      <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
      
      <link rel="stylesheet" type="text/css" href="{% static "css/owl.carousel.css" %}">
     
      <link rel="stylesheet" type="text/css" href="{% static "css/magnific-popup.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">