{% load staticfiles %}
<!-- MAIN END -->
    <!-- JS FILES STARTS -->
    
	

    <script src="{% static 'js/jquery-1.12.3.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
    <script src="{% static 'js/jquery-ui.min.js' %}"></script> 
    <script src="{% static 'js/fotorama.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script> 
    <script src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript">
      function theFunction (param) {
        window.location.href =param;
      }
  </script>
  
  <script>
      $(document).ready(function(){
      {% block domready %}
      {% endblock %}
      });
      </script>
      <script>
        function changeListing(){
          var listingvalue = $("#listingoptions").val();
          $.ajax({
            type:"GET",
            url:'{% url "shop:product_list" %}',
            data:{'listingvalue':listingvalue},
            success: function() {
              
             
            }
      
        })
      }

      </script>
      <script>
        function changePerPage(){
          var selectvalue = $("#selectPageNumber").val();
          
          $.ajax({
            type:"GET",
            url:'{% url "shop:product_list" %}',
            data:{'selectvalue':selectvalue},
            success: function() {
              
              location.reload();
              var opts=selectPageNumber.options;
             
            },
        })

      }
      </script>
      <script>
          function changeListingStyle(option){
            if (option=='listOption1'){
              $("#listOption1").addClass('active');
              $("#listOption2").removeClass('active');
              $("#productsListedRow").hide();
              $("#productsListedColumn").show();
            }else{
              $("#listOption2").addClass('active');
              $("#listOption1").removeClass('active');
              $("#productsListedColumn").hide();
              $("#productsListedRow").show();
            }

        }
      </script>
        <script>
    
        function filterProducts(form){
          //document.getElementById(productName).submit();
          var min = $("#slider-range").slider();
          var form=JSON.stringify($('form').serializeArray())
          window.alert(form)     
          
          
    $.ajax({
      type:"POST",
      url:'{% url "cart:product_custom_filter" %}',
      data:{form:form,csrfmiddlewaretoken:'{{ csrf_token }}'},
      success: function() {
        
      }
     
      //success:window.alert('r')
    })
    
         }
        
      </script>
  <script>
    
    function addToCart(productId){
      //document.getElementById(productName).submit();
  
      
$.ajax({
  type:"POST",
  url:'{% url "cart:cart_add_ajax" %}',
  data:{csrfmiddlewaretoken:'{{ csrf_token }}','product_id':productId},
  success: function() {
    $('#cartSize').load(' #cartSize');
    $('#dropdowncart').load(' #dropdowncart');
  }
  
  //success:window.alert('r')
})

     }
    
  </script>
  <script>
    
    function addToWishlist(productId){
      //document.getElementById(productName).submit();
  
      
$.ajax({
  type:"POST",
  url:'{% url "shop:wishlist_add_ajax" %}',
  data:{csrfmiddlewaretoken:'{{ csrf_token }}','product_id':productId},
  success: function() {
    $('#wishlistSize').load(' #wishlistSize');
    $('#dropdownwishlist').load(' #dropdownwishlist');
  }
  
  //success:window.alert('r')
})

     }
    
  </script>

  <script>
    function SetBilling(){
      var i;
      var formelements=['first_name','email','last_name','contact','address','landmark','country','city','postcode','state']
      for (i=0;i<formelements.length;i++){
      document.getElementById('id_'+'billing_'+formelements[i]).value = document.getElementById('id_'+'shipping_'+formelements[i]).value; 
    }}
    
    //var option = document.getElementById('shipping'+formelements[i]+'Id');
    //  var selection = option.options[e.selectedIndex].value;
    //  document.getElementById('billing'+formelements[i]+'Id').value =selection; 
    
  </script>
  

  <script>
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
    }
    });
  
</script>

    <!-- JS FILES END -->