{% load staticfiles %}
<!-- FOOTER START -->
<div class="footer">
        <div class="footer-inner">
          <div class="footer-middle">
            <div class="container">
              <div class="row">
                <div class="col-md-3 f-col">
                  <div class="footer-static-block">
                    <span class="opener plus"></span>
                    <h3 class="title">Information</h3>
                    <ul class="footer-block-contant link">
                      <li><a>About Us</a></li>
                      <li><a>Delivery Information</a></li>
                      <li><a>Privacy Policy</a></li>
                      <li><a>Terms & Conditions</a></li>
                      <li><a>Gift Certificates</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3 f-col">
                  <div class="footer-static-block">
                    <span class="opener plus"></span>
                    <h3 class="title">Help</h3>
                    <ul class="footer-block-contant link">
                      <li><a>About Us</a></li>
                      <li><a>Delivery Information</a></li>
                      <li><a>Privacy Policy</a></li>
                      <li><a>Terms & Conditions</a></li>
                      <li><a>Gift Certificates</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3 f-col">
                  <div class="footer-static-block">
                    <span class="opener plus"></span>
                    <h3 class="title">Guidance</h3>
                    <ul class="footer-block-contant link">
                      <li><a>About Us</a></li>
                      <li><a>Delivery Information</a></li>
                      <li><a>Privacy Policy</a></li>
                      <li><a>Terms & Conditions</a></li>
                      <li><a>Gift Certificates</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3 f-col">
                  <div class="footer-static-block">
                    <span class="opener plus"></span>
                    <h3 class="title">Contact</h3>
                    <ul class="footer-block-contant address-footer">
                      <li><p>Astokom Ltd</p></li>
                      <li><p>Astokom koyu </p></li>
                      <li><p>Tercan, Erzincan</p></li>
                      <li><p><a>werdem@gmail.com</a></p></li>
                      <li><p>029-222-222-22-22</p></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="footer-bottom top">
            <div class="container">
              <div class="col-sm-12 align-center">
                <div class="copy-right center-xs">© 2018  All Rights Reserved. <a href="#"></a></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="bottom">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <div class="payment left-side center-xs">
                    <ul class="payment_icon">
                      <li class="visa"><a><img src="{% static "images/pay1.png" %}" alt="Empire"></a></li>
                      <li class="discover"><a><img src="{% static "images/pay2.png" %}" alt="Empire"></a></li>
                      <li class="paypal"><a><img src="{% static "images/pay3.png" %}" alt="Empire"></a></li>
                      <li class="vindicia"><a><img src="{% static "images/pay4.png" %}" alt="Empire"></a></li>
                      <li class="atos"><a><img src="{% static "images/pay5.png" %}" alt="Empire"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="footer_social pt-xs-15 center-xs mt-xs-15 right-side">
                    <ul class="social-icon">
                      <li><a title="Facebook" class="facebook"><i class="fa fa-facebook"> </i></a></li>
                      <li><a title="Twitter" class="twitter"><i class="fa fa-twitter"> </i></a></li>
                      <li><a title="Linkedin" class="linkedin"><i class="fa fa-linkedin"> </i></a></li>
                      <li><a title="RSS" class="rss"><i class="fa fa-rss"> </i></a></li>
                      <li><a title="Pinterest" class="pinterest"><i class="fa fa-pinterest"> </i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="scroll-top">
        <div id="scrollup"></div>
      </div>
      <!-- FOOTER END --> 