{%load staticfiles %}
{% load cart_update_tags %}
<!-- HEADER START -->
<header class="navbar navbar-custom " id="header">
    <!-- CONTAINER START -->
    <div class="container">
      <!-- ROW START -->
      <div class="row">
        <!-- HEADER LOGO START-->
        <div class="col-md-3 col-xs-6">
          <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="/"> 
              <img alt="Empire" src="{% static 'images/logo.png' %}"> 
            </a>
          </div>
        </div>
        <!-- HEADER LOGO END-->
        <!-- HEADER ICONS START-->
        <div class="col-md-3 col-xs-6 right-side">
          <div class="header-right-link right-side float-none-xs">
            <ul>
              <li class="search-box">
                <a href="#">
                  <span></span>
                </a>
              </li>
              
              <li class="account-icon">
                <a href="#">
                  <span></span>
                </a>
                <div class="header-link-dropdown account-link-dropdown">
                  <ul class="link-dropdown-list">
                    {% if request.user.is_authenticated %}
                    <li>
                        <span class="dropdown-title">
                          Hello {{ request.user.first_name }},
                        </span>
                        <ul>
                            <li>
                                <a href="{% url "account:user_dashboard" %}">Dashboard</a>
                              </li>
                            
                          <li>
                            <a href="{% url "account:logout" %}">Logout</a>
                          </li>
                        
                        </ul>
                      </li>
                    {% else %}
                    <li>
                      <span class="dropdown-title">
                        Welcome!
                      </span>
                      <ul>
                        <li>
                          <a href="{% url "account:login" %}">Sign In</a>
                        </li>
                        <li>
                          <a href="{% url "account:register" %}">Create an Account</a>
                        </li>
                      </ul>
                    </li>
                    {% endif %}

                  </ul>
                </div>
              </li>
              <li class="pro-wishlist-icon">
                  {% show_wishlist %}
                
                
              </li>
              <li id='cartInfo' class="cart-icon">
              {% show_cart %}
            </li>
              
            </ul>
          </div>
          <!-- HEADER TOGGLE BUTTON START-->
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <i class="fa fa-bars"></i>
          </button>
          <!-- HEADER TOGGLE BUTTON END-->
        </div>
        <!-- HEADER ICONS END-->
        <!-- HEADER MENU START-->
        <div class="col-md-6 col-sm-12 position-s left-side float-none-xs">
          <div class="align-center">
            <div id="menu" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="level">
                  <a href={% url "shop:product_list" %}>Home</a>
                </li>
                
                <li class="level dropdown">
                  <span class="opener plus"></span>
                  <a href={% url "shop:collection_shop_list" %} class="page-scroll">
                    Collections
                  </a>
                  <!-- MEGA MENU START-->
                  <div class="megamenu mobile-sub-menu">
                    <!-- MEGA MENU TOP START-->
                    <div class="megamenu-inner-top">
                      <ul class="sub-menu-level1">
                        {% for key,value in features.items %}
                        <!--fix the argument in main li-->
                        <li class="level2 "> <a href={% url "shop:size_color_room_filter" key %}><span>Shop by {{ key }}</span></a>
                          <ul class="sub-menu-level2">
                              {% for feature_option in value %}
                              <li class="level3"><a href="{{ feature_option.get_absolute_url }}" >{{ feature_option }}</a></li>
                              {% endfor %}
                          </ul>
                        </li>
                        {% endfor %}
          
                      </ul>
                    </div>
                    <!-- MEGA MENU TOP END-->
                    <!-- MEGA MENU BOTTOM END-->
                    <div class="megamenu-inner-bottom mt-20 visible-lg visible-md">
                      <a href="shop.html">
                       
                      </a>
                    </div> 
                    <!-- MEGA MENU BOTTOM END-->
                  </div>
                  <!-- MEGA MENU END-->
                </li>
                
                <li class="level dropdown">
                  <span class="opener plus"></span>
                  <a href="/contact/">Contact</a>
                  
                </li>
                <li class="level">
                  <a href="/cart/">Cart</a>
                </li>
                <li class="level dropdown">
                  <span class="opener plus"></span>
                  <a href="/aboutus/">About Us</a>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- HEADER MENU END-->
      </div>
      <!-- ROW END -->
    </div>
    <!-- CONTAINER END -->
  </header>
  <!-- HEADER END -->