{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Contact Us Success{% endblock %}



{% block content %}
<section class="pt-95 client-main align-center">
    <div class="container">
        <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-sm-offset-2">
    <h2 class="title">Thanks!</h2>

    <p>We appreciate your feedback.<br />
    Someone from the team will be in touch with you shortly.</p>
    
    <div><a href="/">Home Page</a></div>
    </div></div>
  </section>
{% endblock %}